---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import AboutSection from '../components/About.astro';
import ContactsOnly from '../components/ContactsOnly.astro';
import Principles from '../components/Principles.astro';
import Infrastructure from '../components/About_Infrastructure.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="BelkaPay">
  <div class="wrapper">
    <Header isMultiPage={true} />
    <main>
      <AboutSection isIndexPage={false} />
      <Principles />
      <Infrastructure />
    </main>
  </div>
  <div class="contacts">
    <div class="wrapper">
      <ContactsOnly  isIndexPage={true} />
    </div>
  </div>
  <div class="footer">
    <div class="wrapper">
      <Footer isMultiPage={true} />
    </div>
  </div>
</Layout>

<style lang="scss">
  .wrapper {
    @include pageContent;
  }
  .contacts {
    width: 100%;
    background-color: #ffffff;
  }
  .footer {
    width: 100%;
    background-color: #292929;
  }
</style>
