---
import { content } from "../scripts/content"
// import { Picture } from 'astro:assets';
// import logoSvg from "../images/logo.svg"
// import phoneSvg from "../images/phone.svg"
// import NavButton from "./NavButton.astro"

// interface Props {
  // context: string;
// }

// const { context } = Astro.props;

---

<section>


</section>


<style lang="scss">



</style>
