---
import { content } from "../scripts/content"
import Feedback from "./Feedback.astro"

interface Props {
  isFeedback: boolean;
}

const { isFeedback } = Astro.props;

const ctn = content.contacts
---

<section id="contacts" class="mt-[96px]">
  <div class="contacts-block">
    <div  class="left">
      <div class="title">{ctn.title}</div>
      {
        ctn.list.map((item) => (
          <div class="item-title mt-[24px]">{item.title}</div>
          <div class="mt-[12px]">
            {
              item.textArr.map((item) => (
                <div><a href={item.link}>{item.text}</a></div>
              ))
            }
          </div>
        ))
      }
    </div>
    <div class="right">
      {isFeedback && <Feedback />}
      {
        !isFeedback && (
          <a href="https://yandex.ru/maps/?um=constructor%3A14aa7a9de7bcd3760433118b7d2e5e9cdb41e7365a46f11b7f8415dbd280579b&amp;source=constructorStatic" target="_blank"><img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3A14aa7a9de7bcd3760433118b7d2e5e9cdb41e7365a46f11b7f8415dbd280579b&amp;width=500&amp;height=450&amp;lang=ru_RU" alt="" style="border: 0;" /></a>
        )
      }
    </div>
  </div>
</section>


<style lang="scss">
  .contacts-block {
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
    gap: 24px;
    @include media('>=tablet') {
      padding: 96px 0px;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;

    }
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // gap: 24px;
    flex: 1 0 0;
  }
  .item-title {
    font-weight: 800;
  }
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
  }
</style>