---
import { content } from '../scripts/content';

const ctn = content.contacts;
---

<section id="contacts" class="mt-[96px]">
  <div class="contacts-block">
    <div class="title">{ctn.title}</div>
    <div class="center py-[32px] md:py-[48px]">
      {
        ctn.list.map((item) => (
          <div>
            <div class="item-title mt-[32px]">{item.title}</div>
            <div class="mt-[12px]">
              {item.textArr.map((item) => (
                <div>
                  <a href={item.link}>{item.text}</a>
                </div>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style lang="scss">
  .contacts-block {
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
    gap: 24px;
    @include media('>=tablet') {
      padding: 96px 0px;
    }
  }
  .center {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 32x;
    @include media('>=tablet') {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .item-title {
    font-weight: 800;
  }
</style>
