---
interface Props {
  section: string;
  name: string;
}

const { section, name } = Astro.props;
---

<a href={section}>
  <div class="nav-button mx-[8px] px-[16px] py-[12px]">
    <span>{name}</span>
  </div>
</a>

<style lang="scss">
  .nav-button {
    border-radius: 100px;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 16px;
  }
</style>
