---
import { content } from '../scripts/content';
import { Picture } from 'astro:assets';

interface Props {
  text: string;
  image: any;
}

const { text, image } = Astro.props;
const pictureAlt = content.info.image;
---

<div class="card">
  <div class="image-block">
    <Picture
      src={image}
      formats={['avif', 'webp']}
      alt={pictureAlt}
      class="image m-auto"
      width={image.width / 2}
      densities={[1.5, 2]}
    />
  </div>
  <div class="text">
    {text}
  </div>
</div>

<style lang="scss">
  .card {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 16px;
    gap: 12px;
    border-radius: 16px;
    background: #fff;
  }
  .image-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    height: 204.8px;
    gap: 10px;
    border-radius: 8px;
    background: #eff1f4;
  }
  .image {
    flex-shrink: 0;
    width: 80px;
    height: 80px;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: 8px 0px;
    gap: 24px;
  }
</style>
