---
import { content } from '../scripts/content';
import arrowSvg from '../images/icons/arrow.svg';

interface Props {
  isContacts: boolean;
}

const { isContacts } = Astro.props;
---

{
  !isContacts && (
    <a href="#contacts">
      <button class="btn">
        <span class="mr-[8px]">{content.main.btnText}</span>
        <img src={arrowSvg.src} alt="arrow" />
      </button>
    </a>
  )
}

{
  isContacts && (
    <button id="submit" class="btn">
      <span class="mr-[8px]">{content.main.btnText}</span>
      <img src={arrowSvg.src} alt="arrow" />
    </button>
  )
}

<style lang="scss">
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 40px;
    border-radius: 100px;
    background: linear-gradient(90deg, #c21022 0%, #fc0d0c 100%);
    color: #ffffff;
    &:hover {
      background: linear-gradient(90deg, #FC0D0C 0%, #C21022 100%);
    }
    @include media('>=tablet') {
      width: auto;
    }
  }
</style>
